
/*
 * _backgrounds
 * ==============================================
 * Block Background Visual Styles
*/

.__GrayDark
{
	background-color: $color_GreyDark;
}

.__Purple
{
	background-color: rgba(0, 0, 255, 0.1);
}

.__Green
{
	background-color: rgba(0, 255, 0, 0.1);
}


.opacity .__Texture-Dark1 {
	opacity: 0.8;
}


.__Texture-BlocksLight
{
	background:  #EEEEEE url('/images/textures/light_blocks.jpg') left top repeat scroll;
}
