
/*
 * Typography
 * ===================================
 */
html {
	font-size: 62.5%;
	font-size: 10px;
}

$FontBody: "Sorts Mill Goudy";
$FontHeaders: "Sorts Mill Goudy";
$FontCode: "";

$FontFam_Headers: "Sorts Mill Goudy", Tahoma, Geneva, Arial, sans-serif;
$FontFam_Sans: "Sorts Mill Goudy", Tahoma, Geneva, Arial, sans-serif;
$FontFam_Serif: "Sorts Mill Goudy", Times, serif;
$FontFam_Hand: "Sorts Mill Goudy", serif;


// General Use Typography Mixins
// ====================================================
// Quick Mixins for the Base Typography Rules Used Consistantly.
// Compiled into Rules that Use Them.

@mixin Type_MainBody() {
	font-family: $FontBody;

	@include set-font-size(16);
}


@mixin Type_MainHeader() {
	font-family: $FontBody;

	@include set-font-size(36);
}


/* -- Base Font Definitions -- */
/*_____________________________*/

/* Sorts Mill Goudy - Standard */
@font-face {
    font-family: $FontBody;
    src: url('/fonts/GoudyStM-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
