/*
 *
 * App Main HB (Hummingbird)
 * ================================
 * Compiles the Various SASS Sub-sheets to Build the Base Stylesheet for Web Display
 *
 *
 * NAMING  CONVENSIONS  LEGEND
 * ================================
 *
 * someName									-	A Block Module Base Definition
 * someName--SomeElement					-	Style for an Element of the Block Module 'someName'
 * someName__SomeState						-	Style for a Variant (non-base) State of the Block Module 'someName'
 * someName--SomeElement__SomeState			-	Style for a Variant (non-base) State of the Element 'SomeElement' of the Block Module 'someName'
 * __SomeStyleName							-	A Visual Only Style - No Layout, Spacing, Size, etc. Rules are Included
 *
 *
 * Z_INDEX LEVEL NOTES
 * ================================
 *
 * Page Header :  500
 * Page Body Div :  1
 * Page Footer Div :  2
 *
 * UItoTop Button :  50
 * Lightbox Popups (PrettyPhoto or Magnific Popup) :  10,000 - 10,010
 *
 * VideoJS @ Fullscreen :  1,000
 *
*/


// SASS/SCSS Configuration (i.e. Settings for the Compiler)
// ==============================================================
@charset "UTF-8";
// @charset NOTE: Sass uses @charset rules in the input files to determine the character set of those files.
// However, it doesn't output a @charset rule unless the output file actually has non-ASCII characters,
// since it doesn't do anything otherwise.


// Hummingbird Normalize
// ==============================================================

@import "a_third_party/hummingbird_normalize";


// Component CSS to Include in this Stylesheet
// ==============================================================
@import "_sass_code/all";
@import "_styleguides-sass_constants/all";
@import "components/links";



body {
	background-color: $color_mainBackground;
}

body * {
	text-align : center;
	@include Type_MainBody();
}

h1, h2, h3, h4, h5, h6 {
	@include Type_MainBody();
	font-style: normal;
	font-weight: normal;
}

.template.title {
	@include set-font-size(48);
	color:green;
	padding-left: 0;
	padding-right: 0;
}

.simple-row {
	align-items: stretch;
	flex-direction: row;
}

.subheader {
	font-size: 3rem;
}
